body{
   
  background: #74797873;
}
#ville{
    display: none;
}
.box{
    border:  2px solid black;
  border-radius: 20px;
  text-align: center;
  
   background: none;
   color: white;
   width: 150px;
   height: 20px;
   margin: 8px;
}
.box:hover{
    border-color:#2ecc71;
    width: 200px;
    color: white;
}
.form{
    width: 290px;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:  2px solid black;
    margin:  10px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px gray;
    background: #34495e;
   
}
.btn{
    background: none;
    margin: 10px;
   border: 2px solid black;
   border-radius: 20px;
   width: 80px;
   color: rgba(255, 255, 255, 0.445);
   text-align: center;
   outline: none;
}

.btn:hover
{
    width: 100px;
    background:#2ecc71;
    cursor: pointer;
    animation:  bt 3s infinite;
}
.btn:focus{
    outline: none;
}
.v{
    border: 2px solid black;
    border-radius: 20px;
    background: none;
    color: rgba(255, 255, 255, 0.445);
}
.v option{
 color: black;
 background-color: cadetblue;
 border: 2px solid black;

}
@keyframes bt{
    0%{
       background:hsla(145, 63%, 49%, 0);
       color: rgba(255, 255, 255, 0.432);
    }
    100%{
        background:hsl(145, 63%, 49%);
        color: black;
    }
}
